@model FoodSearch.Presentation.Web.Site.Models.Basket

@{
    ViewBag.Title = "FoodSearch.pl - Koszyk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ScriptSection
{
    <script src="~/Scripts/Frontend/BasketSummary.min.js"></script>
}

<div class="row">
    <div class="col-lg-12 col-xs-12">
        <div class="well">
            <div class="stepwizard">
                <div class="stepwizard-row">
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-primary btn-circle" disabled="disabled">1</button>
                        <p>Koszyk</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle" disabled="disabled">2</button>
                        <p>Dostawa i płatność</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
                        <p>Smacznego!</p>
                    </div>
                </div>
            </div>

            <h1 class="text-center">Koszyk</h1>
            
            <div class="alert alert-info" role="alert" data-bind="visible: BasketItems().length == 0">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                Twój koszyk jest pusty
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Danie</th>
                        <th>Ilość</th>
                        <th class="text-center">Cena</th>
                        <th class="text-center">Razem</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: BasketItems">
                    <tr>
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <span class="thumbnail pull-left glyphicon glyphicon-cog" style="width: 72px; height: 72px; font-size: 48px; text-align: center;"></span>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#" data-bind="text: Name"></a></h4>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="number" class="form-control" readonly data-bind="value: Count">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong data-bind="text: Price"></strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong data-bind="text: Total"></strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger" data-bind="click: $parent.decrementItemCount">
                                <span class="glyphicon glyphicon-remove"></span> Usuń
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Dania razem:</h5></td>
                        <td class="text-right"><h5><strong data-bind="text: Total"></strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Dostawa:</h5></td>
                        <td class="text-right"><h5><strong data-bind="text: DeliveryPrice"></strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Razem:</h3></td>
                        <td class="text-right"><h3><strong data-bind="text: TotalWithDelivery"></strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <form method="GET" action="@Url.Action("RestaurantMenu", "Home", new {area = ""})">
                                <input type="hidden" name="restaurantId" value="@Model.CurrentRestaurant" />
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Wróć
                                </button>
                            </form>

                        </td>
                        <td>
                            <form method="POST" action="@Url.Action("Shipping", "Order")"
                                  data-bind="visible: BasketItems().length > 0">
                                <button type="submit" class="btn btn-success">
                                    Zamów <span class="glyphicon glyphicon-play"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>