@model Guid

@{
    ViewBag.Title = "FoodSearch.pl - Smacznego!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadSection
{
    <link rel="stylesheet" href="~/Content/loader.css" />
}

@section ScriptSection
{
    <script src="~/Scripts/Frontend/OrderSuccess.js"></script>
}

<div class="row">
    <div class="col-lg-12 col-xs-12">
        <div class="well">
            <div class="stepwizard">
                <div class="stepwizard-row">
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-primary btn-circle" disabled="disabled">1</button>
                        <p>Koszyk</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-primary btn-circle" disabled="disabled">2</button>
                        <p>Dostawa i płatność</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-primary btn-circle" disabled="disabled">3</button>
                        <p>Smacznego!</p>
                    </div>
                </div>
            </div>

            <h1 class="text-center" data-bind="text: greeting"></h1>
            <div id="orderId" data-order="@Model" style="display: none"></div>

            <div class="loader-big" data-bind="visible: showLoader">
                <div id="circularG2">
                    <div id="circularG_12" class="circularG2">
                    </div>
                    <div id="circularG_22" class="circularG2">
                    </div>
                    <div id="circularG_32" class="circularG2">
                    </div>
                    <div id="circularG_42" class="circularG2">
                    </div>
                    <div id="circularG_52" class="circularG2">
                    </div>
                    <div id="circularG_62" class="circularG2">
                    </div>
                    <div id="circularG_72" class="circularG2">
                    </div>
                    <div id="circularG_82" class="circularG2">
                    </div>
                </div>
            </div>
            <div class="text-center" data-bind="visible: confirmed">
                <p>Twoje zamówienie zostanie zrealizowane:</p>
                <p style="font-size: 52px;" data-bind="text: deliveryTime">01.01.2015 15:00</p>
            </div>
            <div class="text-center" data-bind="visible: cancelled">
                <p>Twoje zamówienie zostało anulowane przez pracownika restauracji.</p>
                <p>Powód anulowania:</p>
                <p><i data-bind="text: cancellationReason"></i></p>
            </div>

        </div>
    </div>
</div>