<aside class="right-side" id="pageCuisines">
    <section class="content-header">
        <h1>
            Kuchnie
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Strona główna</a></li>
            <li class="active">Kuchnie</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Kuchnie serwowane przez restaurację</h3>
                        <button class="btn btn-primary pull-right" id="addRestaurantCuisine" ng-click="addNew()">Dodaj</button>
                    </div>
                    <div class="box-body table-responsive">
                        <table id="restaurantCuisinesList" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nazwa</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="c in cuisines.Items">
                                <tr>
                                    <td>{{c.Name}}</td>
                                    <td>
                                        <button ng-click="remove($index)" class="btn btn-primary">Usuń</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>

<script type="text/ng-template" id="addRestaurantCuisineModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Dodaj kuchnię</h4>
    </div>
    <div class="modal-body">
        <form role="form" name="addRCForm">
            <div class="box-body">
                <div class="form-group">
                    <label for="addRCName" class="control-label">Kuchnia</label>
                    <select id="addRCName" required options="allCuisines" ng-model="toAdd.Id" selectize="options"/>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Anuluj</button>
        <button type="button" class="btn btn-primary" ng-click="add()" ng-disabled="!addRCForm.$valid">Dodaj</button>
    </div>
</script>


<script type="text/ng-template" id="removeRestaurantCuisineModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Usuń kuchnię</h4>
    </div>
    <div class="modal-body">
        <form role="form" name="removeRCForm">
            <div class="box-body">
                <div class="form-group">
                    Czy napewno chcesz usunąć kuchnię {{cuisine.Name}}?
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Anuluj</button>
        <button type="button" class="btn btn-primary" ng-click="remove()">Usuń</button>
    </div>
</script>