<aside class="right-side" id="pageCuisines" style="display:none">
    <section class="content-header">
        <h1>
            Kuchnie
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Strona główna</a></li>
            <li class="active">Kuchnie</li>
        </ol>
    </section>

    <section class="content">
        Kuchnie
    </section>
</aside>
