<aside class="right-side" id="pageDishes">
    <section class="content-header">
        <h1>
            Dania
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Strona główna</a></li>
            <li class="active">Dania</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Dania serwowane przez restaurację</h3>
                        <button class="btn btn-primary pull-right" id="addDish" ng-click="addNew()">Dodaj</button>
                    </div>
                    <div class="box-body table-responsive" ng-repeat="(key, value) in dishes.Items | groupBy: 'DishGroup'">
                        <h4>Grupa: {{key}}</h4>
                        <table id="restaurantDishesList" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Nazwa</th>
                                    <th>Cena</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="i in value">
                                <tr>
                                    <td>{{i.DishName}}</td>
                                    <td>{{i.Price}}</td>
                                    <td>
                                        <button class="btn btn-primary">Edytuj</button>
                                        <button ng-click="remove($index)" class="btn btn-primary">Usuń</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>

<script type="text/ng-template" id="addDishModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Dodaj danie</h4>
    </div>
    <div class="modal-body">
        <form role="form" name="addDForm">
            <div class="box-body">
                <div class="box-body">
                    <div class="form-group">
                        <label for="addDishName" class="control-label">Nazwa</label>
                        <input type="text" placeholder="Nazwa dania" ng-model="toAdd.DishName" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="addDishDG" class="control-label">Grupa dań</label>
                        <select placeholder="Wybierz grupę" id="addDishDG" required ng-model="toAdd.DishGroupId" options="allDishGroups.Items" selectize="options"></select>
                    </div>
                    <div class="form-group">
                        <label for="addDishPrice" class="control-label">Cena</label>
                        <div class="input-group">
                            <input type="number" placeholder="Cena" class="form-control" required ng-model="toAdd.Price" />
                            <span class="input-group-addon">zł.</span>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Anuluj</button>
        <button type="button" class="btn btn-primary" ng-click="add()" ng-disabled="!addDForm.$valid" ng-hide="edit">Dodaj</button>
    </div>
</script>