<aside class="right-side" id="pageDishGroups" style="display:none">
    <section class="content-header">
        <h1>
            Grupy dań
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Strona główna</a></li>
            <li class="active">Grupy dań</li>
        </ol>
    </section>

    <section class="content">
        Grupy dań
    </section>
</aside>
