<aside class="right-side" id="pageDishGroups">
    <section class="content-header">
        <h1>
            Grupy dań
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Strona główna</a></li>
            <li class="active">Grupy dań</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" id="addDishGroup">Dodaj</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Grupy dań</h3>
                    </div>
                    <div class="box-body table-responsive">
                        <table id="dishGroupsList" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nazwa</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: DishGroups">
                                <tr>
                                    <td data-bind="text: Name"></td>
                                    <td>
                                        <button data-bind="click: $parent.DeleteDishGroup" class="btn btn-primary">Usuń</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>

<div class="modal fade" id="addDishGropModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Dodaj grupę dań</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="addDGForm">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="addDGName" class="control-label">Nazwa</label>
                            <input type="text" name="name" placeholder="Nazwa grupy" id="addDGName" class="form-control" required />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary">Dodaj</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteDishGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Usuń grupę dań</h4>
            </div>
            <div class="modal-body">
                <p>Czy napewno chcesz usunąc wybraną grupę dań?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary">Usuń</button>
            </div>
        </div>
    </div>
</div>