<aside class="right-side" id="pageEmployees" style="display:none">
    <section class="content-header">
        <h1>
            Pracownicy
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Strona główna</a></li>
            <li class="active">Pracownicy</li>
        </ol>
    </section>

    <section class="content">
        Pracownicy
    </section>
</aside>
