<aside class="right-side" id="pageOpeningHours" style="display:none">
    <section class="content-header">
        <h1>
            Godziny otwarcia
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Strona główna</a></li>
            <li class="active">Godziny otwarcia</li>
        </ol>
    </section>

    <section class="content">
        Godziny otwarcia
    </section>
</aside>
