<aside class="right-side" id="pageOrders">
    <section class="content-header">
        <h1>
            Zamówienia
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Strona główna</a></li>
            <li class="active">Zamówienia</li>
        </ol>
    </section>

    <section class="content">
        {{napis}}
    </section>
</aside>