<aside class="right-side" id="pageReports" style="display:none">
    <section class="content-header">
        <h1>
            Raporty
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Strona główna</a></li>
            <li class="active">Raporty</li>
        </ol>
    </section>

    <section class="content">
        Raporty
    </section>
</aside>
