@using FoodSearch.Data.Mapping.Entities
@model FoodSearch.BusinessLogic.Domain.RestraurantAdmin.Models.EmployeeData

@{
    ViewBag.Title = "FoodSearch";
    Layout = "~/Areas/RestaurantAdmin/Views/Shared/_Layout.cshtml";
}

@section HeadSection
{
    <link rel="stylesheet" href="~/Content/selectize.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="~/Areas/RestaurantAdmin/Content/Site.css"/>
    <link rel="stylesheet" href="~/Content/Admin/ionicons.min.css"/>
}

@section ScriptSection
{
    @*<script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/dataTables.bootstrap.js"></script>*@
    <script type="text/javascript" src="~/Scripts/selectize.min.js"></script>
    @*<script type="text/javascript" src="~/Scripts/bootstrap-timepicker.min.js"></script>*@
    @*<script type="text/javascript" src="~/Areas/RestaurantAdmin/Scripts/OpeningHoursViewModel.js"></script>*@
    @*<script type="text/javascript" src="~/Areas/RestaurantAdmin/Scripts/CuisinesViewModel.js"></script>*@
    @*<script type="text/javascript" src="~/Areas/RestaurantAdmin/Scripts/DishGroupsViewModel.js"></script>*@
    @*<script type="text/javascript" src="~/Areas/RestaurantAdmin/Scripts/DishesViewModel.js"></script>*@
    @*<script type="text/javascript" src="~/Areas/RestaurantAdmin/Scripts/CommonViewModel.js"></script>*@
    <script src="~/Scripts/Admin/Common/directives.js"></script>
    <script src="~/Scripts/Admin/RestaurantAdmin/app.js"></script>
    <script src="~/Scripts/Admin/RestaurantAdmin/service/services.js"></script>
    <script src="~/Scripts/Admin/RestaurantAdmin/controller/controllersEmployee.js"></script>
    @if (User.IsInRole(UserTypes.RestaurantAdmin.ToString()))
    {
        <script src="~/Scripts/Admin/RestaurantAdmin/controller/controllersAdmin.js"></script>
    }
}

<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/Home/GetImage?imageId=@Model.RestaurantLogoId" class="img-circle" alt="@Model.RestaurantName" />
                </div>
                <div class="pull-left info">
                    <p>Witaj,</p>
                    <p>@string.Format("{0} {1}", Model.FirstName, Model.LastName)</p>
                </div>
            </div>

            <sidebarmenu>
                <sidebarmenuitem>
                    <a href="@Url.Action("", new {area="RestaurantAdmin"})">
                        <i class=" fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </sidebarmenuitem>
                <sidebarmenuitem>
                    <a href="/RestaurantAdmin#/orders">
                        <i class="fa fa-edit"></i> <span>Zamówienia</span>
                    </a>
                </sidebarmenuitem>
                <sidebarmenuitem>
                    <a href="/RestaurantAdmin#/dishes">
                        <i class="fa fa-cutlery"></i> <span>Dania</span>
                    </a>
                </sidebarmenuitem>
                <sidebarmenuitem>
                    <a href="/RestaurantAdmin#/dishGroups">
                        <i class="fa fa-book"></i> <span>Grupy dań</span>
                    </a>
                </sidebarmenuitem>
                <sidebarmenuitem>
                    <a href="/RestaurantAdmin#/cuisines">
                        <i class="fa fa-list"></i> <span>Kuchnie</span>
                    </a>
                </sidebarmenuitem>
                

                @if (User.IsInRole(UserTypes.RestaurantAdmin.ToString()))
                {
                    <sidebarmenuitem>
                        <a href="/RestaurantAdmin#/restaurant">
                            <i class="fa fa-cog"></i> <span>Restauracja</span>
                        </a>
                    </sidebarmenuitem>
                    <sidebarmenuitem>
                        <a href="/RestaurantAdmin#/openingHours">
                            <i class="fa fa-clock-o"></i> <span>Godziny otwarcia</span>
                        </a>
                    </sidebarmenuitem>
                    <sidebarmenuitem>
                        <a href="/RestaurantAdmin#/opinions">
                            <i class="fa fa-comments"></i> <span>Opinie</span>
                        </a>
                    </sidebarmenuitem>
                    <sidebarmenuitem>
                        <a href="/RestaurantAdmin#/reports">
                            <i class="fa fa-bar-chart-o"></i> <span>Raporty</span>
                        </a>
                    </sidebarmenuitem>
                    <sidebarmenuitem>
                        <a href="/RestaurantAdmin#/employees">
                            <i class="fa fa-user"></i> <span>Pracownicy</span>
                        </a>
                    </sidebarmenuitem>

                }
            </sidebarmenu>



        </section>
    </aside>

    <div ng-view></div>
</div>

<script type="text/ng-template" id="dashboardTemplate">
    @{ Html.RenderPartial("_Dashboard"); }
</script>

<script type="text/ng-template" id="ordersTemplate">
    @{ Html.RenderPartial("_Orders");}
</script>

<script type="text/ng-template" id="dishesTemplate">
    @{ Html.RenderPartial("_Dishes");}
</script>

<script type="text/ng-template" id="dishGroupsTemplate">
    @{ Html.RenderPartial("_DishGroups");}
</script>

<script type="text/ng-template" id="cuisinesTemplate">
    @{ Html.RenderPartial("_Cuisines");}
</script>


@if (User.IsInRole(UserTypes.RestaurantAdmin.ToString()))
{
    <script type="text/ng-template" id="restaurantTemplate">
        @{ Html.RenderPartial("_Restaurant");}
    </script>

    <script type="text/ng-template" id="openingHoursTemplate">
        @{ Html.RenderPartial("_OpeningHours"); }
    </script>

    <script type="text/ng-template" id="opinionsTemplate">
        @{ Html.RenderPartial("_Opinions"); }
    </script>

    <script type="text/ng-template" id="reportsTemplate">
        @{ Html.RenderPartial("_Reports"); }
    </script>

    <script type="text/ng-template" id="employeesTemplate">
        @{ Html.RenderPartial("_Employees"); }
    </script>
}