/*COMMON*/
a {
	color: #4d4d4d;
	text-decoration: none;
	-webkit-transition: color 0.2s ease-in-out 0s;
	-moz-transition: color 0.2s ease-in-out 0s;
	-ms-transition: color 0.2s ease-in-out 0s;
	-o-transition: color 0.2s ease-in-out 0s;
	transition: color 0.2s ease-in-out 0s;
}

	a:hover {
		color: #98b709;
		text-decoration: none;
	}

select::-ms-expand,
input::-ms-clear,
input::-ms-reveal {
	display: none;
}

*:focus {
	outline: none;
}

/*NAVBAR*/
.navbar-default {
	background-color: #428bca;
	border-color: #0060bf;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #e8e8e8;
}
.navbar-default .navbar-text {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #e8e8e8;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #e8e8e8;
	background-color: #0060bf;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #e8e8e8;
	background-color: #0060bf;
}
.navbar-default .navbar-toggle {
	border-color: #0060bf;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #0060bf;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ffffff;
}
.navbar-default .navbar-link {
	color: #ffffff;
}
.navbar-default .navbar-link:hover {
	color: #e8e8e8;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #e8e8e8;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #e8e8e8;
		background-color: #0060bf;
	}
}

/*LIST OF FOUND RESTAURANTS*/
.blogicon {
    font-size: 217px;
    color:#5CB85C;
}

.ratetext {
    font-size: 37px;
    text-decoration: underline;
    padding-bottom: 10px;
}

.votes {
    font-size: 47px;
    padding-right: 20px;
    color:#197BB5;
}

a.list-group-item {
    height: auto;
    min-height: 170px;
}

a.list-group-item:hover, a.list-group-item:focus {
    border-left:10px solid #428bca;
    border-right:10px solid #428bca;
}

html > /**/ body a.list-group-item {
    border-left:10px solid transparent;
    border-right:10px solid transparent;
}
.rating .glyphicon {font-size: 22px;}
.rating-num { margin-top:0;font-size: 54px; }
.restaurant-item {
    padding: 10px 0;
}
.restaurant-logo {
    min-height: 146px;
    max-height: 146px;
}

/*BASKET*/
.no-padding {
    padding: 0;
}
.no-padding-left {
    padding-left: 0;
}

.input-group form {
    max-width: 40px;
    display: block;
}

.input-group .form-left {
    float: left;
}

.input-group .form-right {
    float: right;
}

.input-group #count {
    max-width: 72px;
}

.input-group .form-left .input-group-btn button {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


/*LIST DISH*/
