/*COMMON*/
a {
    color: #4d4d4d;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out 0s;
    -moz-transition: color 0.2s ease-in-out 0s;
    -ms-transition: color 0.2s ease-in-out 0s;
    -o-transition: color 0.2s ease-in-out 0s;
    transition: color 0.2s ease-in-out 0s;
}

    a:hover {
        color: #98b709;
        text-decoration: none;
    }

select::-ms-expand,
input::-ms-clear,
input::-ms-reveal {
    display: none;
}

*:focus {
    outline: none;
}

/*COOKIE ALERT*/
.cookie-alert {
    /*margin-bottom: 0;*/
}

/*USER PANEL*/

/*LOGIN BUTTON*/
.user-links {
    margin-top: -20px;
}

.user-links .login {
    background: url(../images/link-arrow.png) no-repeat 20px center;
    padding: 8px 15px 8px 30px;
    border-left: 1px solid #e6e6e6;
}

.user-links .register {
    background: url(../images/link-arrow.png) no-repeat 20px center; 
    padding: 8px 17px 8px 30px;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}