@{
    ViewBag.Title = "FoodSearch.pl - Polityka prywatności";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper container">
    <div class="content-middle">

        <div class="content-proper">
            <div class="block-title">
                <h1>Polityka prywatności</h1>
            </div>
        </div>
        <div class="justified">
            FoodSearch za priorytet stawia sobie dobro i satysfakcję klienta. Podejmujemy wszelkie starania
            zmierzające do zapewnienia należytej ochrony udostępnionych przez Użytkowników danych osobowych.
            Zależy nam na tym, aby nasz serwis był platformą szybkich i przyjaznych zamówień w restauracjach.
            <br /><br />
            Zgodnie z obowiązującą w Polsce Ustawą z dnia 29 sierpnia 1997 r. o Ochronie Danych Osobowych mają
            Państwo prawo do poprawiania swoich danych osobowych (za pomocą formularza zmiany danych, dostępnego
            w serwisie po zalogowaniu) oraz do żądania usunięcia swoich danych (zasady usuwania danych zostały
            opisane w Regulaminie).
            <br /><br />
            Użytkownicy zobowiązani są nie ujawniać osobom trzecim informacji dotyczących innych Użytkowników,
            które otrzymali w ramach działania usług FoodSearch, chyba że uzyskali uprzednią zgodę od Użytkownika,
            którego dane dotyczą. Otrzymane od FoodSearch informacje Użytkownik może wykorzystać wyłącznie w celach
            związanych weryfikacją rezerwacji.
            <br /><br />
            FoodSearch.pl stosuje pliki „cookies", które zbierają informacje w celu dostosowania usług do
            indywidualnych potrzeb Użytkowników oraz służą do tworzenia statystyk. Wyłączenie w opcjach przeglądarki
            zgody na zapisywanie plików „cookies" może wpłynąć na wyświetlanie strony i powodować utrudnienia w
            korzystaniu z serwisu.
        </div>


        <div class="clearfix"></div>
    </div>

</div>