@model FoodSearch.Presentation.Web.Site.Areas.User.Models.UserPanelModel
@{
    ViewBag.Title = "Panel użytkownika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ScriptSection
{
    <script type="text/javascript" src="~/Scripts/knockout-3.2.0.js"></script>
    <script type="text/javascript" src="~/Scripts/Frontend/UserPanel.js"></script>
}

<h2>Panel użytkownika</h2>

<div class="row">
    <div class="col-lg-12 col-xs-12" id="userPage">
        <div class="well">
            <div class="page-header">
                <h1>Panel użytkownika</h1>
            </div>
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#infoTab" aria-controls="infoTab" role="tab" data-toggle="tab">Dane użytkownika</a>
                    </li>
                    <li role="presentation">
                        <a href="#ordersTab" aria-controls="ordersTab" role="tab" data-toggle="tab">Historia zamówień</a>
                    </li>
                </ul>
                
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="infoTab">
                        @{Html.RenderPartial("_UserData", Model);}
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="ordersTab">
                        @{Html.RenderPartial("_UserOrders");}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>