@model FoodSearch.Presentation.Web.Site.Models.RestaurantPageModel

@{
    ViewBag.Title = "FoodSearch.pl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-xs-12">
        <div class="well">
            <h1>Test</h1>
        </div>
    </div>
</div>
