
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/SiteAdmin/Views/Shared/_Layout.cshtml";
}

<h2>Dodaj restaurację</h2>

<form method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Nazwa restauracji"/>
    <input type="number" name="addressId" placeholder="AddressId"/>
    <input type="text" name="userName" placeholder="Nazwa użytkownika"/>
    <input type="password" name="password" placeholder="Hasło"/>
    <input type="file" name="logo" value="Wybierz logo..."/>
    <input type="submit" value="Dodaj"/>
</form>

