@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!--[if lt IE 9]>
            <script src="~/Scripts/html5shiv.min.js"></script>
            <script src="~/Scripts/respond.min.js"></script>
        <![endif]-->
        @RenderSection("HeadSection", false)
    </head>
<body>
    @RenderBody()
    
    <script type="text/javascript" src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    
    @RenderSection("ScriptSection", false)
</body>
</html>