<aside class="right-side" id="pageRestaurants">
    <section class="content-header">
        <h1>
            Restauracje
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Strona główna</a></li>
            <li class="active">Restauracje</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" id="addRestaurant">Dodaj restaurację</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Lista restauracji</h3>
                    </div>
                    <div class="box-body table-responsive">
                        <table id="restaurantList" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Logo</th>
                                    <th>Nazwa restauracji</th>
                                    <th>Miasto</th>
                                    <th>Dzielnica</th>
                                    <th>Adres</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: Restaurants">
                                <tr>
                                    <td>
                                        <img data-bind="attr: {'src': LogoUrl}" width="100" height="100" />
                                    </td>
                                    <td data-bind="text: Name"></td>
                                    <td data-bind="text: City"></td>
                                    <td data-bind="text: District"></td>
                                    <td data-bind="text: Address"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>

<div class="modal fade" id="addRestaurantModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Dodaj restaurację</h4>
            </div>
            <div class="modal-body">
                <form role="form" enctype="multipart/form-data" id="addRestForm">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="addRestName" class="control-label">Nazwa restauracji</label>
                            <input type="text" name="name" placeholder="Nazwa restauracji" id="addRestName" class="form-control" required/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="control-label">Ulica</label>
                            <select id="addRestStreet" required></select>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Numer</label>
                            <select id="addRestNumber" required></select>
                        </div>
                        <div class="form-group">
                            <label for="addRestUser" class="control-label">Nazwa użytkownika właściciela restauracji</label>
                            <input type="text" name="userName" placeholder="Nazwa użytkownika" id="addRestUser" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="addRestPass" class="control-label">Hasło właściciela restauracji</label>
                            <input type="password" name="userName" placeholder="Hasło właściciela" id="addRestPass" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="addRestLogo" class="control-label">Wybierz logo restauracji</label>
                            <input type="file" name="logo" id="addRestLogo" class="form-control" required/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary">Dodaj restaurację</button>
            </div>
        </div>
    </div>
</div>