<aside class="right-side" id="pageRestaurants">
    <section class="content-header">
        <h1>
            Restauracje
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Strona główna</a></li>
            <li class="active">Restauracje</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Lista restauracji</h3>
                        <button class="btn btn-primary pull-right" id="addRestaurant" ng-click="addNew()">Dodaj restaurację</button>
                    </div>
                    <div class="box-body table-responsive">
                        <table id="restaurantList" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Logo</th>
                                    <th>Nazwa restauracji</th>
                                    <th>Miasto</th>
                                    <th>Dzielnica</th>
                                    <th>Adres</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="r in restaurants.Items">
                                <tr>
                                    <td>
                                        <img ng-src="/SiteAdmin/api/logo/{{r.LogoId}}" width="100" height="100" />
                                    </td>
                                    <td>{{r.Name}}</td>
                                    <td>{{r.City}}</td>
                                    <td>{{r.District}}</td>
                                    <td>{{r.Street}} {{r.Number}}</td>
                                    <td>
                                        <button ng-click="remove($index)" class="btn btn-primary">Usuń</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>

<script type="text/ng-template" id="addRestaurantModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Dodaj restaurację</h4>
    </div>
    <div class="modal-body">
        <form role="form" enctype="multipart/form-data" name="addRForm">
            <div class="box-body">
                <div class="form-group">
                    <label for="addRestName" class="control-label">Nazwa restauracji</label>
                    <input type="text" name="name" placeholder="Nazwa restauracji" class="form-control" required ng-model="toAdd.Name"/>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label" for="addCity">Miasto</label>
                    <select placeholder="Wybierz miasto" id="addCity" required 
                            ng-model="toAdd.CityId" options="allCities" selectize="cityOptions"></select>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Dzielnica:</label>
                    <input type="text" class="form-control" ng-model="toAdd.District" readonly/>
                </div>
                <div class="form-group col-md-8">
                    <label class="control-label">Ulica</label>
                    <select id="addRestStreet" required ng-enabled="canSelectStreet" placeholder="Wybierz ulicę"
                            ng-model="toAdd.StreetId" options="allStreets" selectize="streetOptions"></select>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Numer</label>
                    <select id="addRestNumber" required placeholder="Wybierz numer"
                            ng-model="toAdd.AddressId" options="allStreetNumbers" selectize="streetNumbersOptions"></select>
                </div>
                <div class="form-group">
                    <label for="addRestFName" class="control-label">Imię właściciela restauracji</label>
                    <input type="text" name="firstName" placeholder="Imię właściciela" id="addRestFName" 
                           class="form-control" required ng-model="toAdd.FirstName"/>
                </div>
                <div class="form-group">
                    <label for="addRestLName" class="control-label">Nazwisko właściciela restauracji</label>
                    <input type="text" name="lastName" placeholder="Nazwisko właściciela" id="addRestLName"
                           class="form-control" required ng-model="toAdd.LastName" />
                </div>
                <div class="form-group">
                    <label for="addRestEmail" class="control-label">Email właściciela restauracji</label>
                    <input type="email" name="email" placeholder="Adres email" id="addRestEmail"
                           class="form-control" required ng-model="toAdd.UserEmail" />
                </div>
                <div class="form-group">
                    <label for="addRestPass" class="control-label">Hasło właściciela restauracji</label>
                    <input type="password" name="userName" placeholder="Hasło właściciela" id="addRestPass"
                            class="form-control" required ng-model="toAdd.UserPassword"/>
                </div>
                <div class="form-group">
                    <label for="addRestLogo" class="control-label">Wybierz logo restauracji</label>
                    <input type="file" name="logo" id="addRestLogo" class="form-control" required file-Model="toAdd.LogoFile"/>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Anuluj</button>
        <button type="button" class="btn btn-primary" ng-click="add()" ng-disabled="!addRForm.$valid">Dodaj</button>
    </div>
</script>
