<aside class="right-side" id="pageUsers" style="display:none">
    <section class="content-header">
        <h1>
            Użytkownicy
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Strona główna</a></li>
            <li class="active">Użytkownicy</li>
        </ol>
    </section>

    <section class="content">
        Użytkownicy
    </section>
</aside>
