@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SiteAdmin/Views/Shared/_Layout.cshtml";
}

@section HeadSection
{
    <link rel="stylesheet" href="~/Content/selectize.css" />
}

@section ScriptSection
{
    @*<script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/dataTables.bootstrap.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/selectize.min.js"></script>*@
    @*<script type="text/javascript" src="~/Areas/SiteAdmin/Scripts/RestaurantsViewModel.js"></script>*@
    @*<script type="text/javascript" src="~/Areas/SiteAdmin/Scripts/CommonViewModel.js"></script>*@
    <script src="~/Scripts/Admin/Common/directives.js"></script>
    <script src="~/Scripts/Admin/SiteAdmin/app.js"></script>
    <script src="~/Scripts/Admin/SiteAdmin/controller/controllers.js"></script>
}

<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="~/Images/Admin/avatar3.png" class="img-circle" alt="User Image" />
                </div>
                <div class="pull-left info">
                    <p>Witaj, @User.Identity.Name</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            <sidebarmenu>
                <sidebarmenuitem >
                    <a href="@Url.Action("", new {area = "SiteAdmin"})">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </sidebarmenuitem>
                <sidebarmenuitem>
                    <a href="/SiteAdmin#/restaurants">
                        <i class="fa fa-folder"></i> <span>Restauracje</span>
                    </a>
                </sidebarmenuitem>
                <sidebarmenuitem>
                    <a href="/SiteAdmin#/users">
                        <i class="fa fa-user"></i> <span>Użytkownicy</span>
                    </a>
                </sidebarmenuitem>
            </sidebarmenu>
        </section>
    </aside>
    <div ng-view></div>
</div>

<script type="text/ng-template" id="dashboardTemplate">
    @{ Html.RenderPartial("_Dashboard"); }
</script>
<script type="text/ng-template" id="restaurantsTemplate">
    @{ Html.RenderPartial("_Restaurants"); }
</script>

<script type="text/ng-template" id="usersTemplate">
    @{ Html.RenderPartial("_Users"); }
</script>