@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SiteAdmin/Views/Shared/_Layout.cshtml";
}

@section ScriptSection
{
    @Scripts.Render("~/js/siteAdmin")
}

<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="~/Images/Admin/avatar3.png" class="img-circle" alt="User Image" />
                </div>
                <div class="pull-left info">
                    <p>Witaj, @User.Identity.Name</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            
            <ul class="sidebar-menu">
                <li navigation-item>
                    <a href="/SiteAdmin#/dashboard">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li navigation-item>
                    <a href="/SiteAdmin#/restaurants">
                        <i class="fa fa-folder"></i> <span>Restauracje</span>
                    </a>
                </li>
                <li navigation-item>
                    <a href="/SiteAdmin#/users">
                        <i class="fa fa-user"></i> <span>Użytkownicy</span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
    <div error-alert></div>
    <div ng-view></div>
</div>

<script type="text/ng-template" id="dashboardTemplate">
    @{ Html.RenderPartial("_Dashboard"); }
</script>
<script type="text/ng-template" id="restaurantsTemplate">
    @{ Html.RenderPartial("_Restaurants"); }
</script>

<script type="text/ng-template" id="usersTemplate">
    @{ Html.RenderPartial("_Users"); }
</script>