@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SiteAdmin/Views/Shared/_Layout.cshtml";
}

@section HeadSection
{
    <link rel="stylesheet" href="~/Content/Selectize/css/selectize.css" />
}

@section ScriptSection
{
    <script src="~/Content/Selectize/js/standalone/selectize.min.js"></script>
    <script src="~/Scripts/Admin/Common/directives.js"></script>
    <script src="~/Scripts/Admin/SiteAdmin/app.js"></script>
    <script src="~/Scripts/Admin/SiteAdmin/controller/controllers.js"></script>
    <script src="~/Scripts/Admin/SiteAdmin/controller/restaurantController.js"></script>
    <script src="~/Scripts/Admin/SiteAdmin/controller/cityController.js"></script>
    <script src="~/Scripts/Admin/SiteAdmin/service/service.js"></script>
}

<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="~/Images/Admin/avatar3.png" class="img-circle" alt="User Image" />
                </div>
                <div class="pull-left info">
                    <p>Witaj, @User.Identity.Name</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            
            <ul class="sidebar-menu">
                <li navigation-item>
                    <a href="/SiteAdmin#/dashboard">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li navigation-item>
                    <a href="/SiteAdmin#/restaurants">
                        <i class="fa fa-folder"></i> <span>Restauracje</span>
                    </a>
                </li>
                <li navigation-item>
                    <a href="/SiteAdmin#/users">
                        <i class="fa fa-user"></i> <span>Użytkownicy</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-compass"></i> <span>Adresy</span>
                        <i class="fa pull-right fa-angle-down"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li navigation-item>
                            <a href="/SiteAdmin#/cities" style="margin-left: 10px;">
                                <i class="fa fa-angle-double-right"></i> Miasta
                            </a>
                        </li>
                        <li navigation-item>
                            <a href="/SiteAdmin#/districts" style="margin-left: 10px;">
                                <i class="fa fa-angle-double-right"></i> Dzielnice
                            </a>
                        </li>
                        <li navigation-item>
                            <a href="/SiteAdmin#/streets" style="margin-left: 10px;">
                                <i class="fa fa-angle-double-right"></i> Ulice
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
    <div error-alert></div>
    <div ng-view></div>
</div>

<script type="text/ng-template" id="dashboardTemplate">
    @{ Html.RenderPartial("_Dashboard"); }
</script>
<script type="text/ng-template" id="restaurantsTemplate">
    @{ Html.RenderPartial("_Restaurants"); }
</script>

<script type="text/ng-template" id="usersTemplate">
    @{ Html.RenderPartial("_Users"); }
</script>

<script type="text/ng-template" id="citiesTemplate">
    @{ Html.RenderPartial("_Cities"); }
</script>

<script type="text/ng-template" id="districtsTemplate">
    @{ Html.RenderPartial("_Districts"); }
</script>

<script type="text/ng-template" id="streetsTemplate">
    @{ Html.RenderPartial("_Streets"); }
</script>