@{
    ViewBag.Title = "FoodSearch - strona główna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadSection
{
    <link rel="stylesheet" href="~/Content/selectize.css" />
}

@section ScriptSection
{
    <script type="text/javascript" src="~/Scripts/selectize.min.js"></script>
    <script type="text/javascript" src="~/Scripts/HomePage.js"></script>
}

<div>
    <form role="form" method="POST" class="col-md-8" id="searchForm" action="/Home/Restaurants">
        <div class="box-body">
            <div class="form-group">
                <label for="selectStreet" class="control-label">Ulica</label>
                <select id="selectStreet" required></select>
            </div>
            <div class="form-group">
                <label for="selectNumber" class="control-label">Numer</label>
                <select id="selectNumber" name="addressId" required></select>
            </div>
            <div class="form-group">
                <input type="submit"  class="btn btn-primary" value="Szukaj restauracji"/>
            </div>
        </div>
    </form>
</div>